body {
  background: linear-gradient(135deg, #f7be03, #943b00);
  font-family: Arial;
  display: grid;
		place-items: center;
  
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 4px;
}

label {
  color: grey;
}
.container {
  background-color: white;
  height: 500px;
  /* overflow: hidden;
  margin: auto;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 100px; */
  border-radius: 10px;
  filter: drop-shadow(1px 1px 7px);
  width: 380px;
		border-radius: 15px;
		
}
.container form{
  padding: 10px 30px 50px 30px;
}
.login {
  align-items: center;
  text-align: center;
}
.container form .login{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.container form .login input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background:white;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .login input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #f7be03, #943b00);
  transition: all 0.3s ease;
}
.button {
  padding-right: 20px;
  background: linear-gradient(-135deg, #f7be03, #943b00);
  border: none;
  height: 50px;
  width: 305px;
  border-radius: 30px;
  filter: drop-shadow(1px 1px 7px);
  color: white;
  
}

.email {
  filter: drop-shadow(0px 1px 3px);

}

.img {
  width: 160px;
  padding-bottom: 0px;
}

.header {
  background-color: white;
}

.container .title {
  background: linear-gradient(-135deg,  #f7be03, #943b00);
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

